.title {
    background: #ff95ff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px;
}

.title-internal {
    display: inline-block;
}

.title-external {
    text-align: center;
    width: 100%;
    margin: 20px;
}

table td, table th {
    border: 1px solid #000;
    padding: 5px;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 150%;
}

body {
    font-family: sans-serif;
}

table caption {
    caption-side: bottom;
    text-align: left;
    font-style: italic;
    font-size: 14px;
    margin: 5px 0 ;
}

tfoot td {
    background: #ddd;
    font-style: italic;
}

table th{
    background: #ccc;
}

.responsive-table {
    max-width: 100%;
    overflow-x: auto;
}
